<!-- Recherche par acteur -->
<div class="col-md-12">
  <p class="form-control-static titre_">Recherche par détail</p>

  <div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle type_membre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sélection <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Acteur</a></li>
        <li><a href="#">Réalisateur</a></li>
      </ul>
    </div>
    <input type="text" class="form-control nom_membre" placeholder="Nom" aria-label="basic-addon1">
  </div>

    <div id="ajout"></div>
    <p style="text-align:right;" id="ajout_form"><span class="glyphicon glyphicon-plus" style="font-size:3em;"></span></p>

  <div class="col-md-12" style="text-align: right;">
    <form class="form-inline">
      <div class="form-group">
        <label for="date_debut">Date : de </label>
        <input type="text" class="form-control" id="date_debut" placeholder="Début">
      </div><br/>
      <div class="form-group">
        <label for="date_fin"> à </label>
        <input type="email" class="form-control" id="date_fin" placeholder="Fin">
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $("#ajout_form").click(function() {
    $("#ajout").append('<div class="input-group">'+
        '<div class="input-group-btn">'+
          '<button type="button" class="btn btn-default dropdown-toggle type_membre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sélection <span class="caret"></span></button>'+
          '<ul class="dropdown-menu">'+
            '<li><a href="#">Acteur</a></li>'+
            '<li><a href="#">Réalisateur</a></li>'+
          '</ul>'+
        '</div>'+
        '<input type="text" class="form-control nom_membre" placeholder="Nom" aria-label="basic-addon1">'+
      '</div>');
  });
</script>