<!-- Recherche par titre -->
<div class="col-md-12">
	<p class="form-control-static titre_">Recherche par titre</p>

	<select name="select" class="form-control" id="select_movies"></select>

	<div class="input-group">
		<input type="hidden" class="form-control" id="id_titre" aria-describedby="basic-addon1">
	</div>
</div>

<script type="text/javascript">

	$("#select_movies").select2({

		ajax: {
			dataType: 'json',
	        url: "https://api.themoviedb.org/3/search/movie",
	        data: function(params){
	        	console.log(params);
	        	return{
	        		query: params.term,
	        		api_key: "a1c65ce9d24b2d4ed117f413bb94a122"
	        	}
	        },
	        /*success: function(data) {
	            console.log(data)
	            for (var i = 0; i < data['results'].length; i++) {
	                var result = data['results'][i]
	                console.log(result['id']+" - "+result['title'])
	            }
	        },*/

			processResults: function (data, params) {
				// parse the results into the format expected by Select2
				// since we are using custom formatting functions we do not need to
				// alter the remote JSON data, except to indicate that infinite
				// scrolling can be used
				console.log(data)
				console.log(params)
				params.page = params.page || 1;
		
				return {
					results: data.results,
					pagination: {
						more: (params.page * 30) < data.total_count
					}
				};
			},
			cache: true
		},

		escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
		minimumInputLength: 1,
		templateResult: formatRepo, // omitted for brevity, see the source of this page
		templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
	});

	function formatRepo(data){
		console.log(data)
		if(data.loading) return data.title;

		markup = "<p>"+data.title+"</p>";
		return markup;
	};

	function formatRepoSelection(data){
		$("#id_titre").val(data.id);
		return data.title;
	};

</script>